<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.windowsazure.messaging">

    <application>
        <service
            android:name=".notificationhubs.FirebaseReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.messaging.NEW_TOKEN" />
            </intent-filter>
        </service>
    </application>

</manifest>
